body {
    min-width: 300px;
  }

.form-group{
  display: flex
}

.ibtn-group{
  margin-bottom: 0px;
}

.form-horizontal label{
  margin-top: 7px;
}

.infobtn{
  width: 130px;
  margin: 0px 0px 0px 3px;
}