body {
    min-width: 300px;
  }

.form-group{
  display: flex
}

.ibtn-group{
  margin-top: 5px;
  margin-bottom: 0px;
}

.form-horizontal label{
  margin-top: 7px;
}

.infobtn{
  width: 130px;
  margin: 0px 0px 0px 3px;
}

.loadingDiv{
    width: 200px;
    height: 100px;
    z-index: 20000;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -10px
}