<!DOCTYPE HTML>
<html lang="en" ng-app="autoStudy_options">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="css/options.css" media="screen" />
    <script type="text/javascript" src="js/components/angular.min.js"></script>
    <script type="text/javascript" src="js/components/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/components/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/options.js"></script>
</head>

<body ng-controller="optionsCtrl">
    <div class="container">
        <div class="row">
            <div class="navbar-left" style="margin-top: 7px;">
                <span class="text-info" style="font-size: 20px;">{{appTitle}}</span>
            </div>
            <div class="navbar-right">
                <span class="text-info" style="font-size:30px">当前用户：{{loginInfo.name}}</span>
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            <input type="checkbox" ng-model="checkStatus" ng-change="selChanged()">
                        </th>
                        <th>课程ID</th>
                        <th>课程名称</th>
                        <th>已学时间</th>
                        <th>课程类别</th>
                        <th>学时</th>
                        <th>学分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in pageData">
                        <td style="text-align: center;">
                            <input type="checkbox" ng-model="course._checked" ng-checked="course._checked"
                                ng-change="dataSelChanged(course)">
                        </td>
                        <td>{{course.courseID}}</td>
                        <td>{{course.courseName}}</td>
                        <td>{{course.studiedTime}}</td>
                        <td>{{course.courseType}}</td>
                        <td>{{course.courseHour}}</td>
                        <td>{{course.courseCredit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group ibtn-group">
                    <a class="btn btn-success btn-sm infobtn" ng-click="confirmCourses()"
                        style="margin-top: 22px;">确认选课</a>
                </div>
            </div>
            <div class="col-md-3">
                <div style="margin-top: 27px;">
                    <span>找到{{pagination.dataSize}}条数据, 当前第{{pagination.startIndex}}条 - {{pagination.endIndex}}条</span>
                </div>
            </div>
            <div class="col-md-8">
                <nav style="float: right;">
                    <ul class="pagination">
                        <li>
                            <a ng-click="previousPage()">
                                <span>上一页</span>
                            </a>
                        </li>
                        <li ng-repeat="page in pagination.pageList"
                            ng-class="{active: pagination.currentPage === page}">
                            <a ng-click="selectPage(page)">{{ page }}</a>
                        </li>
                        <li>
                            <a ng-click="nextPage()">
                                <span>下一页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Dialog Box -->
    <div id="modalMsg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">{{msgContent}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a type="button" class="btn btn-primary" ng-show="isShowConfirm" ng-click="courseAction()">确认</a>
                </div>
            </div>
        </div>
    </div>
    <div id="successModal" class="modal fade bd-example-modal-sm" role="dialog" data-backdrop="false"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content success-modal-content">
                <p class="text-center" style="margin-bottom: 0px;">
                    <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                    后台开始自动播放, 您可以关闭选课页面, 但请保持浏览器处于运行状态.
                </p>
            </div>
        </div>
    </div>
    <!-- Loading Effects -->
    <div id="loadingModal" class="modal fade" backdrop="static" keyboard="false">
        <div class="loadingDiv">
            <div class="progress progress-striped active loadingContent">数据加载中,请稍候...</div>
        </div>
    </div>
</body>

</html>